<template>
  
    <img alt="Vue logo" src="../assets/logo.png">
    
    <div>
      <InputText type="text" v-model="value" />
      &nbsp;
      <Button label="Katro" icon="pi pi-check" class="p-button-raised p-button-rounded p-button-sm" iconPos="right" />
      
     
    </div>
  
</template>

<script>


export default {
  name: 'HomeView',
  data(){
    return {
      value:"",
    }
  },
  onMounted() {
      console.log(">>>>>>>>>>> HOME MOUNTED"); 
  },
}
</script>
