<template>
  <div class="sidenav">
      <!-- <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a> -->
      <!-- {{note1}} -->
      {{title}}
      <Tree :value="note1" selectionMode="single"></Tree>
  </div>
  <div class="main">
    <h2>{{title}}</h2>
    <router-view/>
  </div>
  
</template>

<script>
import AuthService from '@/services/AuthServices.js'
import EchoService from '@/services/EchoService.js';
// const authService = ref(new AuthService());
export default {
    name:"NavigatorLayout",
    data(){
      return{
        title:"Toolbar",
        note1:null,
      }
    },
    authService: null,
    echoService:null,
    // beforeCreate(){
    //   console.log("Before Create");
    // },
    created(){
      this.authService = new AuthService();
      this.echoService = new EchoService();
      console.log("Created");
    },
    // beforeMount(){
    //   console.log("Before Mount");
    // },
    mounted(){
      this.authService.getTreeNodes().then((value) => {
        // console.log("Hasil ", JSON.stringify(value));
        this.note1 = value;
      });
      this.echoService.getecho().then((value) => {
        console.log("Hasil Echo", JSON.stringify(value.data));
        this.title = value.data.data.datenow;
      });
      this.echoService.getecho3().then((value) => {
        console.log("Hasil Echo 3", JSON.stringify(value.data));
        this.title = value.data.data.datenow;
      });
      console.log("NavigatorLayout Mounted");
    }
}
</script>

<style>

</style>